<!DOCTYPE html>
<html>
  <head>
    <title>WedGitActivity</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <div id ="header">
  <h1>Course Manager</h1>
  <div id ="links">
    <a href="/professors">Professors</a>
    <a href="/offices">Offices</a>
    <a href ="/courses">Courses</a>
    <a href ="/class_sections">Class Sections</a>
  </div>
  </div>
    <%= yield %>
  </body>
</html>
